body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light-gray: #d1d5db;
  --bg-gray: #374151;
  --primary-blue: #60a5fa;
  --primary-blue-dark: #3b82f6;
  --warning-orange: #fbbf24;
  --error-red: #f87171;
  --busy-red: #dc2626;
  --success-green: #34d399;
}

h1,
h2,
h3,
h4 {
  text-align: left;
}

.intro {
  padding-top: 2rem;
}
.intro h3 {
  text-align: left;
}
.brand {
  padding-left: 1rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.doc {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.pad {
  min-width: 20rem;
}

.aside-nav {
  padding-top: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20rem;
  background: var(--bg-gray);
  color: white;
  position: fixed;
  top: calc(3.5rem - 5px);
}

.show-aside-action {
  display: block;
}

.hide-aside-action {
  display: none;
}

.aside-nav a {
  color: var(--white);
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.aside-nav a:hover {
  text-decoration: underline;
}

.mobile-aside {
  display: none;
}

.mobile-nav-action {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.btn-aside-close {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .mobile-nav-action {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .aside-nav {
    display: none;
  }

  .btn-aside-close {
    display: block;
  }

  .mobile-aside {
    width: 100%;
  }

  .pad {
    display: none;
  }

  .input {
    width: unset;
  }

  .mobile-nav-action {
    display: block;
  }
}
